<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.antigravity.construct"
    android:versionCode="21300001"
    android:versionName="2.1.3-exp">

    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="33" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Aplicamos el tema a toda la aplicación -->
    <application
        android:label="Construct"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:hasCode="false"
        android:theme="@style/ConstructTheme"
        tools:replace="android:theme"
        android:allowBackup="false">

        <!-- Configuramos la NativeActivity que usa Slint/Rust -->
        <activity
            android:name="android.app.NativeActivity"
            android:label="Construct"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:theme="@style/ConstructTheme">
            
            <!-- Metadata necesaria para cargar la librería dinámica -->
            <meta-data android:name="android.app.lib_name" android:value="construct" />
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
